body {
    font-family: 'Open Sans', sans-serif;
    background-color: #F1F1F1;
    margin: 0;
    padding: 0;
}

.banner {
    background-color: #262525;
    color: #fff;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    font-size: 45px;
    padding: 35px;
    text-align: center;
}

/* Container for overall content */
.container {
    width: 50%;
    margin: 40px auto;
}

/* Introduction Container */
.intro-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    text-align: center;
}

.introduction {
    text-align: center;
    display: inline-block;
    max-width: 100%;
    font-size: 17px;
    margin-bottom: 10px;
}

.introduction p {
    margin-right: 40px;
    margin-left: 40px;
    line-height: 1.5;
    color: #333;
    text-align: justify;
    /* Justify the text */
    text-align-last: center;
    /* Center-align the last line */
    /* hyphens: auto;  */
    word-spacing: normal;
    /* Adjust word spacing */
    letter-spacing: normal;
    /* Adjust letter spacing */
}

.summary_heading {
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
    padding: 5px;
    margin-left: 30px;
    margin-right: 30px;
    position: relative;
    background-color: #f8f6f6;
    border-radius: 10px;
    padding-right: 10px;
    /* space for the arrow */
}

/* Add a subtle border or box shadow on hover */
.summary_heading:hover {
    background-color: #f0f0f0;
}

.introduction ol {
    text-align: left;
    /* Left-align the list */
    padding-left: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: inline-block;
    /* Ensure it doesn't take the full width */
    max-width: 100%;
    /* Ensure it doesn't overflow */
    background-color: #f8f6f6;
    border-radius: 10px;
    margin-top: 1px;
}

.introduction ol li {
    font-size: 16px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
    line-height: 1.5;
}

.introduction ol li::marker {
    font-weight: 900;
    color: #862442
}

/* Upload Container */
.upload-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.upload-container h3 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

/* File Upload Area */
.upload-area {
    display: block;
    max-width: 500px;
    border: 1.7px dashed #a52c51;
    padding: 30px;
    margin: 20px auto;
    text-align: center;
    cursor: pointer;
    background-color: #ffffff;
    position: relative;
    transition: background-color 0.2s ease;
}

.upload-area.dragover {
    background-color: #ffffffe8;
}

#file-upload {
    position: absolute;
    width: 50%;
    height: 50%;
    opacity: 0;
    cursor: pointer;
}

/* File List Styling */
.file-list {
    list-style-type: none;
    padding: 0;
    margin-top: 15px;
    text-align: center;
}

.file-name {
    display: inline-block;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.file-list li {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background-color: #eaeaea;
    padding: 8px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    width: 50%;
}

.file-list li span {
    flex-grow: 1;
    text-align: left;
}

.delete-file {
    cursor: pointer;
    font-size: 18px;
    padding: 5px 10px;
    transition: color 0.2s, transform 0.2s;
}

.delete-file:hover {
    color: darkred;
    transform: scale(1.2);
}

/* Buttons */
.scan-button,
.clear-button {
    width: 120px;
    height: 50px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.scan-button {
    background-color: #a52c51;
}

.scan-button:hover {
    background-color: #c50b4f;
}

.scan-button:active {
    background-color: #862442;
    transform: translateY(2px);
}

.clear-button {
    background-color: #a52c51;
    margin-top: 30px;
    margin-bottom: 5px;
}

.clear-button:hover {
    background-color: #c50b4f;
}

/* Download Results Section */
.results {
    max-width: 500px;
    margin: 30px auto;
    padding: 30px;
    border: 1px solid #e9e8e8;
    background-color: #ffffff;
    text-align: center;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.results h3 {
    margin-top: 1px;
    margin-bottom: 10px;
}

/* Container for download buttons */
.download-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
}

.download-button {
    display: inline-flex;
    justify-content: center;
    font-weight: 600;
    width: 120px;
    height: 35px;
    align-items: center;
    font-size: 16px;
    font-family: 'Work Sans', sans-serif;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: #2c2b2b;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
}

.download-button:hover {
    background-color: #000000;
}

/* Responsive Design: Stack containers vertically on smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}